html{
    font-family:Lato;
}

body {
    text-align:center;
    margin: 0;
}

/****************************************
Login Page 
*****************************************/

.form{
    background-color: #f8f8f8;
    padding: 20px;
    border-radius:20px;
    margin: 0 auto;
}

#login {
    width: 350px;
}




/****************************************
New User Page 
*****************************************/

#newuser {
    width: 800px;
    border-radius: 0px;
    margin: auto;
}

#newuser .input{
    width: 40%;
}


/* Colors */
p {
    color: #999;
}

h1, a, li:hover{
    color: #00bfff;
}

/* Text Field Configurations */
.input {
    padding: 10px;
    font-size: 16pt;
    color: #757575;
    margin-bottom: 10px;
    border: 1px solid #eee;
    outline: 1px solid #eff4f7;
    font-weight: 300;
}

.input:focus {
    border-color: #00bfff;
    outline-color: #00bfff;
    outline-offset: 0;
	/*box-shadow:0 0 3px #00bfff,
				0 0 6px #00bfff;
				0 0 9px #00bfff;*/
    transition: .5s;
}

.dropdown {
    border-radius: 0;
    font-size: 16pt;
    line-height: 1.42857143;
    width: 43%;
    height: 50px;
    font-weight: 300;
    color: #aaa;
    background-color: white;
    border: 2px solid #eee;
}


h1{
    margin: 40px;
    font-size: 40pt;
    font-weight:700;
}

footer{
    margin-top: 200px;
    color: gray;
    font-weight:400;
    font-size: 9pt;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.go{
    border:1px solid #00bfff;
    padding: 9px 30px;
    color: #00bfff;
    font-size: 18pt;
    background-color: #f8f8f8;
    font-weight: 300;
}

.go:hover{
    background-color: #00bfff;
    color: #fff;
    transition:.7s;
}

.searchbtn {
    background-color: #fff;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    background-color: #00bfff;
    border-radius: 10px;
    padding: 20px;
    font-size: 12pt;
    font-weight: 300;
    border:2px solid #00bfff;
}

li:hover{
    background-color: #fff;
    border:2px solid #00bfff;
    font-weight: 300;
    transition: .5s;
}

a.button{
    color: #fff;
    width: 200px;
    margin: 30px auto 0;
    display: block;
}

a.button:hover{
    text-decoration: none;
}

select {
   color: white;
}
