html{
    font-family:Lato;
}

body {
    text-align:center;
    margin: 0;
    background-image: url("../img/sunset.jpg");
    background-position: -200px -200px;
}

/****************************************
Login Page 
*****************************************/

.form{
    background-color:rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius:15px;
    margin: 0 auto;
}

#login {
    width: 300px;
}

/****************************************
New User Page 
*****************************************/

#newuser {
    width: 800px;
    border-radius: 0px;
    margin: auto;
}

#newuser .input{
    width: 40%;
}


/* Colors */
p {
    color: #999;
}

h1, a, li:hover {
    color: #00bfff;
}

h1.title {
    color: rgba(255, 255, 255, 0.80);
}

/* Text Field Configurations */
.input {
    padding: 10px;
    font-size: 16pt;
    color: #757575;
    /*margin-bottom: 10px;*/
    border: 1px solid #eee;
    outline: 1px solid #eff4f7;
    font-weight: 300;
}

.input:focus {
    border-color: #00bfff;
    outline-color: #00bfff;
    outline-offset: 0;
	/*box-shadow:0 0 3px #00bfff,
				0 0 6px #00bfff;
				0 0 9px #00bfff;*/
    transition: .5s;
}

.dropdown {
    border-radius: 0;
    font-size: 16pt;
    line-height: 1.42857143;
    width: 43%;
    height: 50px;
    font-weight: 300;
    color: #757575;
    background-color: white;
    border: 2px solid #eee;
}


h1{
    margin: 40px;
    font-size: 40pt;
    font-weight:700;
}

footer{
    margin-top: 200px;
    color: gray;
    font-weight:400;
    font-size: 9pt;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.go{
    border:1px solid #00bfff;
    padding: 9px 30px;
    color: #00bfff;
    font-size: 18pt;
    background-color:rgba(255, 255, 255, 0.2);
    font-weight: 300;
}

.go:hover{
    background-color: #00bfff;
    transition:.5s;
    text-decoration: none;
    color: #fff;
}

.searchbtn {
    background-color: #fff;
}

div.home {
    width: 450px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    margin: auto;
}

.listbuttons {
    margin: 20px auto 0px;
    display:block;
    width: 80%;
    min-width: 200px;
}

a.logout {
    clear: left;
    margin-top: 50px;
}


/****************************************
Error Page 
*****************************************/

h2 {
    font-size: 1.7em;
}

h2.error {
    color: #ee0000;
}

h2.success {
    color: rgba(255, 255, 255, 0.80);
}

p.error {
    color: #ee0000;
    margin: 0;
}

/****************************************
Form Page
*****************************************/
font1 {
    font-size: 30px;
}