html{
    text-align:center;
    font-family:Lato;
}

.input{
    padding: 10px;
    font-size: 16pt;
    color: #757575;
    margin-bottom: 10px;
    border: 1px solid #eee;
    outline: 1px solid #eff4f7;
    font-weight: 300;
}

.input:focus {
        border-color: #00bfff;
        outline-color: #00bfff;
        outline-offset: 0;
    	/*box-shadow:0 0 3px #00bfff,
    				0 0 6px #00bfff;
    				0 0 9px #00bfff;*/
        transition: .5s;
    }

#loginform{
    background-color: #f8f8f8;
    padding: 20px;
    border-radius:20px;
    width: 350px;
    margin: 0 auto;
}

h1{
    margin: 40px;
    font-size: 40pt;
    color: #00bfff;
    font-weight:700;
}

footer{
    margin-top: 200px;
    color: gray;
    font-weight:400;
    font-size: 9pt;
}

a {
    text-decoration: none;
    color: #00bfff;
}

a:hover{
    text-decoration: underline;
}

p{
    color: #999;
}

.go{
    border:1px solid #00bfff;
    padding: 9px 30px;
    color: #00bfff;
    font-size: 18pt;
    background-color: #f8f8f8;
    font-weight: 300;
}

.go:hover{
    background-color:#00bfff;
    color: #fff;
    transition:.7s;
}

.searchbtn {
    background-color: #fff;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    background-color: #00bfff;
    border-radius: 10px;
    padding: 20px;
    font-size: 12pt;
    font-weight: 300;
    border:2px solid #00bfff;
}

li:hover{
    background-color: #fff;
    border:2px solid #00bfff;
    color: #00bfff;
    font-weight: 300;
    transition: .5s;
}

a.button{
    color: #fff;
    width: 200px;
    margin: 30px auto 0;
    display: block;
}

a.button:hover{
    text-decoration: none;
}
